<div class="container shadow p-3 mb-5 bg-white rounded">
    <form [formGroup]="orderDetails" (ngSubmit)="onSubmit()">
        <h2>Personal details</h2>
        <div class="form-input">
            <label class="col-md-1" for="customer-full-name">Full name: </label>
            <input class="col-md-3" id="customer-full-name" type="text" formControlName="customerFullName" required>
        </div>

        <div class="form-input">
            <label class="col-md-1" for="customer-email">Email: </label>
            <input class="col-md-3" id="customer-email" type="text" formControlName="customerEmail" required>
        </div>

        <div class="form-input">
            <label class="col-md-1" for="customer-phone-number">Phone number: </label>
            <input class="col-md-3" id="customer-phone-number" type="text" formControlName="customerPhoneNumber" required>
        </div>

        <div formGroupName="customerAddress">
            <h2>Address</h2>

            <div class="form-input">
                <label class="col-md-1" for="street">Street: </label>
                <input class="col-md-3" id="street" type="text" formControlName="street" required>
            </div>

            <div class="form-input">
                <label class="col-md-1" for="city">City: </label>
                <input class="col-md-3" id="city" type="text" formControlName="city" required>
            </div>

            <div class="form-input">
                <label class="col-md-1" for="state">State: </label>
                <input class="col-md-3" id="state" type="text" formControlName="state" required>
            </div>

            <div class="form-input">
                <label class="col-md-1" for="zip">Zip Code: </label>
                <input class="col-md-3" id="zip" type="text" formControlName="zip" required>
            </div>
        </div>

        <div class="form-input">
            <label class="col-md-1" for="placement-date">Placement date: </label>
            <input class="col-md-3" id="placement-date" type="text" formControlName="placementDate">
        </div>

        <div class="form-input">
            <label class="col-md-1" for="total">Total: </label>
            <input class="col-md-3" id="total" type="text" formControlName="total">
        </div>

        <button class="btn btn-primary" [disabled]="!orderDetails.valid">Place order</button>
    </form>
</div>